<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm">
        <input type="text" name="email" id="email" placeholder= "Ingrese su email">
        <input type="passwordf" name="password" id="password" placeholder= "Ingrese password">
        <button type=" submit">Iniciar sesion </button>

    </form>
    <script src="/login.js"> </script>
</body>
</html>